<%= form_with(model: author_book) do |form| %>
  <% if author_book.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(author_book.errors.count, "error") %> prohibited this author_book from being saved:</h2>

      <ul>
        <% author_book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :book_id, style: "display: block" %>
    <%= form.text_field :book_id %>
  </div>

  <div>
    <%= form.label :author_id, style: "display: block" %>
    <%= form.text_field :author_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
