<p style="color: green"><%= notice %></p>

<%= render @author_book %>

<div>
  <%= link_to "Edit this author book", edit_author_book_path(@author_book) %> |
  <%= link_to "Back to author books", author_books_path %>

  <%= button_to "Destroy this author book", @author_book, method: :delete %>
</div>
